body{
    background-color: #F4F4F4;
}

a {
    margin: 10px;
    color: #232323;
   
}

/* start login Form */
.login {
    width: 300px;
    margin: 100px auto;

}
.login input {
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #E5E5E5;
}
.login .btn{
    background-color: #008dde;
}
.dropdown-menu {
    right: 0;
    left: auto;
}

/* login page */

.login-page form {
    max-width: 380px;
    padding: 3em 0;
  
}
.login-page form input {
    margin-bottom: 10px;
}
.login-page .selected {
    color:#B22020;
}
.login-page  .signup .h1 {
    /* font-size: 55px;
    margin: 40px 0;
    font-weight: bold; */
    color: #666;
}
.sign{
    background-color: #28c528;
}

.login-page h1 span {
    cursor: pointer;
    color: #666;
}
.login-page .signup{
    display: none;
}
.login-page [data-class="log-in"].selected{
    color: #007bff;
}
.login-page [data-class="signup"].selected{
    color: #007bff;
}

/* css visit shop */



/* Dashboard page */

.st{
    background-color: #c0392b;
}

.Home-stats .stat {
    background-color: #EEE;
    /* border: 1px solid #CCC; */
    padding: 20px;
    font-size: 15px;
    color: rgb(17, 17, 17);
}
.Home-stats .st-members {

    background-color: #c0392b;
}


.Home-stats .stat span {
    display: block;
    font-size: 8Opx;
}
.latest {
    margin-top: 30px;
}
.latest-users li {
    padding: 6px ;
   overflow: hidden;
}
.latest-users li:nth-child(odd){
    background-color: #EEE;
}
.latest-users .btn-success
.latest-users .btn-info{
    padding: 2px 4px;

}
.latest-users .btn-info{
    margin-right: 5px;
}
/* Css Edite Members */
.features-section{
    margin-bottom: 10px;
}
h1{
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #565657;
}
.btn-primary{
    background-color: rgb(29, 29, 29);
   border-color: black;
}

.btn-primary:hover{
    background-color: rgb(97, 95, 95);
   border-color: black;
}

.main-table {

    -webkit-box-shadow : 0 3px 10px #CCC;
    -moz-box-shadow : 0 3px 10px #CCC;
    box-shadow : 0 3px 10px #CCC;
}

.main-table td{

    background-color: #FFF;
    vertical-align: middle !important;
}

.main-table tr:first-child td {

    background-color: #333;
    color: #FFF;
}

.main-table .btn {
    padding: 3px 10px;
}

/* catogory page */

.categorie .card-body{

    padding: 0;
}

.categorie hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.categorie .cat {
    margin: 15px;
    position: relative;
    overflow: hidden;
}
.categorie .cat:hover .hidden-buttons{

    right: 10px;
}

.categorie .cat .hidden-buttons a {

    margin-right: 5px;
   
}
img{
width: 100%;
}
/* .A1{
    background-color: blue;
    color: white;
    width: px;
    height: 10px;
} */

.categorie .cat:hover{
    background-color: #EEE;
}
.categorie .cat .hidden-buttons  {

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    top: 10px;
   position: absolute;
   right: -200px;
}
.categorie .add-category{
    margin-top: 10px;
    margin-bottom: 30px;
}

.categorie .cat h3{
    margin:  0 0 10px;
}
.categorie .cat:last-pf-type ~ hr{

    display: none;
}
.categorie .cat .visibility {

    background-color: #d35400;
    color: #FFF;
    padding: 4px 6px;
    margin-right: 10px;
    border-radius: 6px;
}
.categorie .cat .commenting {

    background-color: #2c3e50;
    color: #FFF;
    padding: 4px 6px;
    margin-right: 10px;
    border-radius: 6px;
}
.categorie .cat .ads {

    background-color: #c0392b;
    color: #FFF;
    padding: 4px 6px;
    margin-right: 10px;
    border-radius: 6px;
}
.thumbnail {
    position: relative;
    margin-bottom: 30px;
}
.thumbnail {
    position: relative;
    margin-bottom: 20px;
}

.thumbnail.item-box img {
    width: 100%;
}
.thumbnail .item-desc{
    background-color: #fff;
    padding: 10px;
}
.thumbnail .caption p {
    margin-bottom: 20px;
    color: #979797;
}
.thumbnail .caption h3 {
    margin: 10px 0;
    color: #1E1F20;
}
.thumbnail .price-tag {
    font-size: 22px;
    color: #007bff;
    font-weight: bold;
}
.btn-add {
    background-color: #007bff;
    color: #fff;
}
.btn-add i {
    margin-right: 5px;
}
.btn-add:hover {
    color: #fff;
}


.catb{
    margin-top: 5%;
    margin-bottom: 5%;
}
.mobilenavbar{
    display: none;

}
.mobilenavbar.show{
    display: block
    
}